body{
    background-color: rgb(3, 3, 64);
    font-family: Bai Jamjuree;
    color: azure;
}
footer{
    background-color: azure;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}